<h2>Contacts</h2>

<div class='row'>

  <div class='col-md-9'>
    <table class='table table-striped'>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th>Ethnicity</th>
    <th>Origin</th>
    <th>Gender</th>
    <th>Occupation</th>
    <th>Company</th>
    <th>Email</th>

    <% @people.each do |person| %>
      <tr>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.age %></td>
        <td><%= person.ethnicity %></td>
        <td><%= person.origin %></td>
        <td><%= person.gender %></td>
        <td><%= person.occupation %></td>
        <td><%= person.company %></td>
        <td><%= person.email %></td>

      </tr>
    <% end %>
    </table>
  </div>

  <div class='col-md-3'>
    <h3>Filters</h3>
    <h4>By domain</h4>
    <div class='btn-group-vertical'>
      <a href='<%= people_path %>'
        type='button'
        class='btn btn-default
          <%= 'btn-primary btn-active' if @email_domain == 'All' %>
          btn-sm'
        >All</a>
      <% @email_domains.each do |domain| %>
        <a href='/people?email_domain=<%= domain %>'
          type='button'
          class='btn btn-default
          <%= 'btn-primary btn-active' if @email_domain == domain %>
          btn-sm'
          ><%= domain %></a>
      <% end %>
    </div>
  </div>
</div>
