<p>
  <strong>First Name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @person.last_name %>
</p>

<strong>Ethnicity:</strong>
<%= @person.ethnicity %>

<strong>Origin:</strong>
<%= @person.origin %>

<strong>Age:</strong>
<%= @person.age %>

<strong>Gender:</strong>
<%= @person.gender %>

<strong>Occupation:</strong>
<%= @person.occupation %>

<strong>Company:</strong>
<%= @person.company %>

<strong>Email:</strong>
<%= @person.email %>

<%= link_to "/contacts", person_contacts_path %>
