<p>
  <strong>First Name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @contact.last_name %>
</p>

<strong>Ethnicity:</strong>
<%= @contact.ethnicity %>

<strong>Origin:</strong>
<%= @contact.origin %>

<strong>Age:</strong>
<%= @contact.age %>

<strong>Gender:</strong>
<%= @contact.gender %>

<strong>Occupation:</strong>
<%= @contact.occupation %>

<strong>Company:</strong>
<%= @contact.company %>

<strong>Year Met:</strong>
<%= @contact.year_met %>

<strong>Place Met:</strong>
<%= @contact.place_met %>

<strong>Last in Contact:</strong>
<%= @contact.last_in_contact %>

<strong>Network Size:</strong>
<%= @contact.network_size %>

<strong>Email:</strong>
<%= @contact.email %>

<%= link_to "/contacts", person_contacts_path %>
