<p>
  <strong>First Name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @person.last_name %>
</p>

<strong>Ethnicity:</strong>
<%= @person.ethnicity %>

<strong>Origin:</strong>
<%= @person.origin %>

<strong>Age:</strong>
<%= @person.age %>

<strong>Gender:</strong>
<%= @person.gender %>

<strong>Occupation:</strong>
<%= @person.occupation %>

<strong>Company:</strong>
<%= @person.company %>

<strong>Year Met:</strong>
<%= @person.year_met %>

<strong>Place Met:</strong>
<%= @person.place_met %>

<strong>Last in Contact:</strong>
<%= @person.last_in_contact %>

<strong>Network Size:</strong>
<%= @person.network_size %>

<strong>Email:</strong>
<%= @person.email %>

<%= link_to "/contacts", person_contacts_path %>
